# default owners
*                         @JacopoWolf @gfurri20 @Alessio789

# documentation owners
/docs/                    @JacopoWolf
/docs/img/                @JacopoWolf
/docs/process/srs.md      @gfurri20
/docs/img/*.docx          @Alessio789
/docs/img/*.pdf          @Alessio789


# code owners
**/PCP/Min/data/             @gfurri20 @Alessio789


# default test owners
/PCP/src/test/            @gfurri20 @Alessio789
